{% extends "layout/base.html" %}
{% block title %}Home{% endblock %}
{% block main %}

  <section>
    <h2>Add Content</h2>
    <form action="/" method="POST" class="content-form" novalidate>
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="input-group" >
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Write a log for today!" class="form-control form__textarea content-form__textarea {{ 'is-invalid' if form.content.errors }}" minlength="20" required>{{ form.content.data if form.content.data}}</textarea>
        {% if form.content.errors %}
          <span class="form-error__message">{{ form.content.errors[0] }}</span>
        {% endif %}
      </div>

      <h3>Author</h3>
      <div class="input-group input-group__author">
        <p class="input-group-text">
          <input type="text" name="first_name" id="first_name" placeholder="First name" class="form-control input-text input-text__author {{ 'is-invalid' if form.first_name.errors }}" value="{{ form.first_name.data if form.first_name.data }}" required>
          {% if form.first_name.errors %}
          <span class="form-error__message">{{ form.first_name.errors[0] }}</span>
          {% endif %}
        </p>
        <p class="input-group-text">
          <input type="text" name="last_name" id="last_name" placeholder="Last name" class="form-control input-text input-text__author {{ 'is-invalid' if form.last_name.errors }}" value="{{ form.last_name.data if form.last_name.data }}" required>
          {% if form.last_name.errors %}
            <span class="form-error__message">{{ form.last_name.errors[0] }}</span>
          {% endif %}
        </p>        
      </div>

      <button type="submit" class="form-submit btn btn-primary">Post article</button>

    </form>
  </section>

  <section>
    <h2>Recent posts</h2>
    {% for content in contents %}
    <article class="content">
      <div class="content__header">
        <h3 class="content__title">{{ content[0] | truncate(30,true) }}</h3>
        <time class="content__date" datetime="{{ content[3] }}">• <span>{{ content[3] }}</span></time>
      </div>
      <p class="content__post">
        {{ content[0] }}
      </p>
      <p class="content__author">
        Author - {{ content[1] }} {{ content[2] }}
      </p>
    </article>
    {% endfor %}
  </section>

{% endblock %}