<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Web tutorials" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Fola Oseni" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    {% block head %}
    <title>{% block title %}{% endblock %} - Microblog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    {% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="{{ url_for('home') }}" class="brand">
          <span class="logo__container"><img src="/static/img/logo.svg" alt="brand_logo" class="logo"></span>          
          Microblog            
        </a>
        <ul class="navbar__navigation">
          <li class="navbar__navigation-item"><a href="#" class="navbar__link navbar__link-active">Recent</a></li>
          <li class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></li>
          <li class="navbar__navigation-item"><a href="#" class="navbar__btn btn btn-primary">Register</a></li>
          <li class="navbar__navigation-item"><a href="#" class="navbar__btn btn btn-outline">Log in</a></li>
        </ul>
      </nav>
    </header>
    <main class="main">{% block main %}{% endblock %}</main>
    <footer class="footer">
        <div class="footer__content">
            <section class="footer__left">
              <a href="#" class="footer__item">Made by Fola</a>
              <a href="#" class="footer__item">Check out my other projects</a>
            </section>
            <section class="footer__right">
              <div class="footer__column">
                <a href="#" class="footer__item">Recent</a>
                <a href="#" class="footer__item">Calendar</a>
              </div>
              <div class="footer__column">
                <a href="#" class="footer__item">About</a>
                <p>© 2022</p>
              </div>
            </section>
        </div>
    </footer>
    <script src="/static/scripts/script.js"></script>
  </body>
</html>
