@import 'font.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;

}

:root {
  --primary-color: #3cd0ff;
}

html {
  overflow-x: hidden;
}

body {
  font-family: system;
  min-height: 100vh; 
  display: grid;
  grid-template-rows: auto 1fr auto; 
}

.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.brand {
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.logo__container {
  display: inline-block;
  width: 1.75rem;
  margin-right: 0.5rem;
}

.logo {
  max-width: 100%;
}

.navbar__navigation {
  list-style: none;
  display: flex;
}

.navbar__navigation-item {
  margin-left: 1.5rem;
}

.navbar__link {
  color: #000;
  opacity: 0.5;
  font-weight: 500;
}

.navbar__link-active {
  opacity: 1;
}

.btn {
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
}

.main {
  width: 35rem;
  max-width: 80%;
  margin: 1.5rem auto;
  padding-bottom: 1rem;
}
.form-control {
  outline: none;
}

.form-control:focus {
  background-color: #f7f7f7;
  border: none;
}

.form__textarea {
  width: 100%;
  border: 1px solid #ced4da;
  padding: 0.5rem 0.75rem;
  border-radius: .25rem;
  margin: 1rem 0;
}

.input-group {
  width: 100%;
  margin: 1rem 0;
  position: relative;
  display: grid;
}

.input-group__author {
  grid-template-columns: auto auto;
  gap: 1rem;
}

.input-group-text {
  position: relative;
}

.input-text {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .5rem .75rem;
  margin-bottom: 1rem;
}

.form-error__message {
  font-size: 0.75rem;
  color: #dc3545;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control:valid ~ .form-error__message {
  display: none;
}

.form-control:invalid ~ .form-error__message {
  display: inline;
}

.is-invalid:invalid, .invalid-textarea {
  border-color: #dc3545;
  outline: none;
}

.is-invalid:focus:invalid, .invalid-textarea:focus {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
  background-color: #fff;
}

.form-submit {
  display: block;
  font-weight: 500;
  font-size: 1.025rem;
  margin-left: auto;
}

.content {
  margin: 1rem auto;
}

.content__title {
  display: inline;
  font-size: 0.9rem;
  margin-right: 1rem;
}
.content__date {
  font-size: 1.05rem;
}

.content__date span {
  font-weight: 400;
  opacity: 0.5;
}

.content__post {
  line-height: 150%;
}

.content__author {
  font-style: italic;
}

.error-page__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.error-page__name {
  font-size: 1.5rem;
}

.error-page__code {
  font-size: 5.5rem;
}

.error-page__description {
  font-size: 1.5rem;
}

.footer {
  background-color: #323f43;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  color: #fff;
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer__left {
  display: flex;
  flex-direction: column;
}

.footer__right {
  display: flex;
  justify-content: end;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.footer__item {
  color: inherit;
}

@media (hover: hover) {
  .btn-primary:hover {
    background-color: #18c1e1;
    border-color: transparent;
  }

  .btn-outline:hover {
    background-color: var(--primary-color);
    color: #fff;
  }

  .footer__item:hover {
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  .input-group__author {
    grid-template-columns: auto;
  }
}